{
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "order/properties-order": [
            "position",
            "z-index",
            "top",
            "right",
            "bottom",
            "left",

            "display",
            "visibility",
            "float",
            "clear",
            "overflow",
            "overflow-x",
            "overflow-y",
            "-webkit-overflow-scrolling",
            "clip",
            "zoom",
            "flex",
            "flex-align",
            "flex-direction",
            "flex-flow",
            "flex-order",
            "flex-pack",
            "flex-wrap",
            "justify-content",
            "align-items",

            "box-sizing",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "margin",
            "padding",

            "table-layout",
            "empty-cells",
            "caption-side",
            "border-spacing",
            "border-collapse",
            "list-style",
            "list-style-position",
            "list-style-type",
            "list-style-image",

            "font",
            "font-family",
            "src",
            "font-size",
            "font-weight",
            "font-style",
            "font-variant",
            "font-size-adjust",
            "font-stretch",
            "font-effect",
            "font-emphasize",
            "font-emphasize-position",
            "font-emphasize-style",
            "font-smooth",
            "line-height",
            "content",
            "quotes",
            "counter-reset",
            "counter-increment",
            "resize",
            "cursor",
            "user-select",
            "nav-index",
            "nav-up",
            "nav-right",
            "nav-down",
            "nav-left",
            "text-align",
            "text-align-last",
            "vertical-align",
            "white-space",
            "text-decoration",
            "text-emphasis",
            "text-emphasis-color",
            "text-emphasis-style",
            "text-emphasis-position",
            "text-indent",
            "text-justify",
            "letter-spacing",
            "word-spacing",
            "text-outline",
            "text-transform",
            "text-wrap",
            "text-overflow",
            "text-overflow-ellipsis",
            "text-overflow-mode",
            "word-wrap",
            "overflow-wrap",
            "word-break",
            "tab-size",
            "hyphens",
            "pointer-events",
            "direction",

            "opacity",
            "color",
            "border",
            "border-width",
            "border-style",
            "border-color",
            "border-radius",
            "border-image",
            "outline",
            "background",
            "box-shadow",
            "text-shadow",
            "filter",

            "transition",
            "transition-delay",
            "transition-timing-function",
            "transition-duration",
            "transition-property",
            "transform",
            "transform-origin",
            "animation",
            "animation-name",
            "animation-duration",
            "animation-play-state",
            "animation-timing-function",
            "animation-delay",
            "animation-iteration-count",
            "animation-direction",
        ],
        "block-no-empty": null,
        "color-no-invalid-hex": true,
        "comment-empty-line-before": [ "always", {
            "ignore": ["stylelint-commands", "after-comment"]
        } ],
        "declaration-colon-space-after": "always",
        "indentation": ["tab", {
            "except": ["value"]
        }],
        "max-empty-lines": 2,
        "rule-empty-line-before": [ "always", {
            "except": ["first-nested"],
            "ignore": ["after-comment"]
        } ],
        "unit-whitelist": ["em", "rem", "%", "s", "vh", "vw"]
    }
}
